<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>389131567508-4atb4c8lus2c3fq0ur2uidt0ucd535e6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389131567508-4atb4c8lus2c3fq0ur2uidt0ucd535e6</string>
	<key>API_KEY</key>
	<string>AIzaSyAsmmeY-XF4HiB4KGOVRK3YeP4dfIIwMvk</string>
	<key>GCM_SENDER_ID</key>
	<string>389131567508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mattdelsig.BudgeIt</string>
	<key>PROJECT_ID</key>
	<string>budgeit-a1641</string>
	<key>STORAGE_BUCKET</key>
	<string>budgeit-a1641.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:389131567508:ios:638ba8566207be9a</string>
	<key>DATABASE_URL</key>
	<string>https://budgeit-a1641.firebaseio.com</string>
</dict>
</plist>